@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #E0D1D7;
	font-family: Avenir, sans-serif;
	color: #000000;
}

header{
	text-align: right;
	font-family: 'Josefin Slab', serif;
}

p {
	margin: 2em;
	padding: 0;
}

ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}

li {
	display: list-item;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 60px;
}

h2 {
	font-family: 'Josefin Slab', serif;
	letter-spacing: 5px;
	line-height: 150%;
}

a:link {
	color: #603D4B;
}

a:visited {
	color: #605A5D;
}

a:hover {
	color: #E591B3;
}

h2 {
	text-align: center;
	font-size: 48px;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

figcaption {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 3em;
}

.social {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

#hi {
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
}

#avatar {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border-width: 1px;
	overflow: hidden;
	float: left;
	margin: 20px 20px 20px 20px;
}

#social-container {
	width: 118px;
	margin: 0 auto;
}
