* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Avenir, sans-serif;
	color: #333333;
}

p {
	margin-bottom: 1em;
	padding: 0 2em;
}

ul {
	display: block;
	list-style-type: none;
	margin: 1em 0 0 0;
	padding-left: 40px;
}

i {
	display: list-item;
	padding-right: 1em;
}

li {
	padding-left: 1em;
}

h2 {
	letter-spacing: 5px;
	line-height: 150%;
	text-align: center;
	font-size: 48px;
	margin-top: 1em;
}

a:link {
	color: #333333;
	text-decoration: none;
}

a:visited {
	color: #6B8186;
	text-decoration: none;
}

a:hover {
	color: #5DA8BA;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

figcaption {
	text-align: center;
	font-size: 14px;
	margin-bottom: 3em;
}

footer {
	text-align: center;
	color: #000000;
	height: 100px;
	font-size: 12px;
	line-height: 0;
}

.navbar {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	margin: 16px;
	text-align: center;
	text-decoration: none;
}

.insidenavbar {
	width: 100%;
	max-width: 325px;
	margin: 0 auto;
}

.main {
	margin-top: 54px;
}

.sublist {
	margin: 0;
	padding: 0;
}

.social {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
}

.project {
	width: 33.33%;
	float: left;
	display: block;
	height: auto;
	padding: 2em 0.5em 0.5em 0.5em;
	text-decoration: none;
}

.skills {
	width: 50%;
	float: left;
}

.overview {
	width: 30%;
	float: left;
	display: block;
	padding: 1em 1em 0 1em;
	margin: 0;
}

.overview-item {
	padding-bottom: 1em;
}

.projectscope {
	float: left;
	width: 70%;
	padding: 1em 1em 0 1em;
}

.removebottom {
	margin-bottom: 0px;
}

.addtop {
	padding-top: 1em;
}

.project-pic {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.rt_styleguide_pic {
	max-width: 55%;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.fa {
	width: 30px;
}

#about {
	padding-top: 30px;
}

#belowheading {
	padding-bottom: 16px;
}

#project-caption {
	padding-top: 1em;
}

#spf_wireframes2 {
	max-width: 63%;
	margin: 0 auto;
	margin-bottom: 0.8em;
}

#spf_ca {
	max-width: 70%;
	margin: 0 auto;
}

#suratifarsan_fi {
	max-width: 90%;
	margin: 0 auto;
}

#styleguide_pic {
	max-width: 55%;
	margin: 0 auto;
}

#social-container {
	width: 131px;
	margin: 0 auto;
	padding-top: 3em;
}

#copyright {
	padding-top: 1em;
}

@media screen and (max-width: 768px) {
	.project {
		width: 50%;
	}

	h2 {
		font-size: 40px;
	}

	.skills {
		width: 100%;
		float: none;
	}

	.projectcenter {
		float: none;
		margin: 0 auto;
		clear: both;
	}

	.overview {
		width: 100%;
		float: none;
	}

	.projectscope {
		width: 100%;
		float: none;
		margin-top: 2em;
		padding: 0;
	}
}

@media screen and (max-width: 375px) {
	h2 {
		font-size: 36px;
	}

	#belowheading {
		margin-top: 0em;
	}

	.project {
		width: 100%;
		height: auto;
	}

	.styleguide-pic {
		width: 100%;
		max-width: 60%;
	}